.nav {
    width: 500px;
    border: 1px solid black;
    background-color: #7ca1d5;

}
.list {
    list-style-type : none;

}
.lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
