.skillsContainer {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.skillsWrapper {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    gap: 75px;
    justify-content: center;
    animation: bounce-in-top 1.5s both
}

.animateSkillTitle {
    animation: bounce-in-top 1.5s both
}


.react:hover {
    color: #61dafb;

}

.redux:hover {
    color: #764abc;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.javascript:hover {
    color: #fcdc00;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.typescript:hover {
    color: #3178c6;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.axios:hover {
    color: #671ddf;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.jest:hover {
    color: #c21325;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.git:hover {
    color: #f14e32;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.node:hover {
    color: #026e00;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.html:hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: orangered;
}

.css:hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #10AEDB;
}

.mui:hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #007fff;
}

.styled:hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: mediumvioletred;
}

.icon {
    height: 44px;
    width: 44px;
}

.icon:hover {
    animation: rotate-center .6s ease-in-out both;
}

@media screen  and (max-width: 930px) {
    .skillsWrapper {
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        gap: 35px;
    }
}

@media screen  and (max-width: 690px) {
    .skillsWrapper {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
    }
}

@media screen  and (max-width: 440px) {
    .skillsWrapper {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
    }
}


@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }
    100% {
        filter: blur(0);
        opacity: 1
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }
}

