.mainBlock {
    min-height: calc(100vh - 80px);
    background-color: #eabaff;
    display: flex;
}


.text {
    width: 300px;
    background-color: darkgray;
    padding: 15px
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkgray;

}