.footerBlock {
    background-color: #917333;
    padding: 50px 0;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.socialBlock {
    border: 1px solid;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.socialLink {
    height: 50px;
    width: 50px;
    background-color: #7ca1d5;
}
.protectionText {
    margin-top: 15px;
}